/* * {
    box-sizing: border-box;
    
  } */
  
h1 {
    color: aliceblue;
    font-size: 150%;
    margin-left: 10px;

}
header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
    background-color: #13293d;
    color: #fff;
  }
/* body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 18px;
  } */
body div img{
    object-fit: fill;
    height: 150px;
    width: 100%;

}



nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
  }
  
nav a {
    color: #b9c6ae;
    font-weight: bold;
    text-decoration: none;
  }
header img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
}
main{
    text-align: center;
    margin-top: 5%;
    /* margin-left: 5%; */
    display:block;
    justify-content: center;
    gap: 30px;
    /* width: 100vw; */
    margin-left: 10%;
    border-left: 5px solid black;
    height: 1050px;
    
}
h2{
    font-size: 36px;
    font-weight: bold;
    text-decoration: underline;
}
.info{
    font-size: 22px;

    line-height: 2.25rem;
    
}
.projects{
   
    display: flex;
    justify-content: space-between;

    
}
.card {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    width: 180px;
    float: left;
    margin: 30px;

  }
.card:hover{
    background-color: orange;
}


.links a {
    color: black;
    text-decoration: none;
    
}
aside{
    display: block;
    
}


/* .vertical {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    border-left: 5px solid black;
    height: 650px;
} */

#contact ul{ 
    margin-left: 10%;
    display:flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
}
footer{
    width: 100vw;
    background-color:#13293d;
    color: white;
    padding: 20px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    
}

.logos img{
    margin-left: 5%;
    width: 120px;
    height: 90px;

    background-color: orange;
}

@media screen and (max-width: 600px) {
    body{
        background-color: tan;
    }
    footer { 
        background-color: grey;
      
    }
    .card{
        background-color: green;
    }
   
    /* main{
        max-width: 500px;
    }
    */
   
}
 /* @media screen and (max-width: 768px) {
    footer ul li {
        
        color: #fff;
    }
    
 } */
/* body div {
    width: 400px;
    padding: 10px;
    border: 5px white;
    margin: 0;
  } */
